version: 1

services:
  - type: web
    name: toke-inka
    env: docker
    plan: free
    branch: main
    repo: https://github.com/David-ET18/Toke-Inka
    
    healthCheckPath: /
    initialDelaySeconds: 180
    
    envVars:
      - key: JAVA_VERSION
        value: "17"  # <--- CORREGIDO: Ahora tiene comillas
      
      # --- BASE DE DATOS ---
      - key: DB_URL
        sync: false
      - key: DB_USERNAME
        sync: false
      - key: DB_PASSWORD
        sync: false
        
      # --- CULQI ---
      - key: CULQI_PUBLIC_KEY
        sync: false
      - key: CULQI_SECRET_KEY
        sync: false
        
      # --- GMAIL ---
      - key: MAIL_USERNAME
        sync: false
      - key: MAIL_PASSWORD
        sync: false