@import "variables";

.headerPag {
    height: 80px;
    background-color: $glass-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .container {
        display: flex;
        justify-content: space-between;

        .sub-container:nth-child(1) {
            display: flex;
            justify-content: space-between;

            .navbar-brand {
                .img-logo {
                    width: 80px;
                    height: 70px;
                }
            }
        }

        //.sub-container:nth-child(2) {}

        .sub-container:nth-child(3) {
            .collapse {
                ul {
                    li {
                        padding: $padding-s;
                        a {
                            @include estilo-boton;
                            background-color: transparent !important;
                        }
                    }
                }
            }
        }
    }
}