@import "variables";

.container-Bienvenida-mssg {
    box-shadow: $box-shadow-L;
    padding-block: $padding;
    width: 100vw;
    background-color: $glass-color;
    display: flex;
    .container {
        flex: 1;
        width: 100vh;
        .Bienvenido-MSSG {}

        .Bienvenida-parrafo {}
    }
}