@import "variables";

.viewProductos {
    .container-products {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
        gap: $gap;

        .product-card {
            width: 290px;
            height: 500px;
            border-radius: $border-radius;
            box-shadow: $box-shadow;
            display: flex;
            padding: $padding;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            a{
                height: 100%;
            }
            .container-img {
                box-shadow: $box-shadow;
                border-radius: $border-radius;
                box-sizing: border-box;
                width: 100%;
                height: auto;
                aspect-ratio: 1/1;

                .img-prod {
                    box-sizing: border-box;
                    border-radius: $border-radius;
                    width: 100%;
                    aspect-ratio: 1/1;
                    object-fit: contain;
                    display: block;
                }
            }

            .card-body {
                width: 100%;
                padding-block: $padding-s;
            }

            .card-footer {
                width: 100%;
                display: flex;

                .btn-detalle {
                    all: unset;
                    flex: 1;
                    width: 100%;
                    @include estilo-boton;
                }
            }
        }
    }
}